.logo{
display:flex;
align-items:center;
gap:10px;
text-decoration:none;
}

.logo-img{
width:45px;
height:45px;
border-radius:50%;
}

.logo h4{
font-size:22px;
font-weight:700;
color:#1d6b32;
margin:0;
}

.logo small{
font-size:12px;
color:gray;
}

.navbar-nav{
gap:25px;
}

.nav-link{
font-weight:500;
color:#222 !important;
}

.nav-link:hover{
color:#1d6b32 !important;
}

.icons{
display:flex;
gap:18px;
font-size:22px;
color:#1d6b32;
cursor:pointer;
}

.icons svg:hover{
transform:scale(1.1);
transition:.3s;
}